GCP_PROJECT_ID
GOOGLE_CLOUD_LOCATION
GOOGLE_GENAI_USE_VERTEXAI=True

EMBEDDING_MODEL=gemini-embedding-001
EMBEDDING_DIMENSIONS=768

VECTOR_SEARCH_INDEX_ID
VECTOR_SEARCH_INDEX_ENDPOINT_ID
DEPLOYED_INDEX_ID

VECTOR_SEARCH_BUCKET
VECTOR_SEARCH_GCS_PATH

TOP_K=3
GEMINI_MODEL=gemini-2.5-flash